.u-section-1 .u-sheet-1 {
  min-height: 909px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 8px;
  background-image: none;
  margin: 48px 93px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  letter-spacing: 2px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-1 {
  height: 527px;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 700;
  background-image: none;
  margin: -502px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -519px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -495px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -463px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 625px;
}

.u-section-2 .u-group-1 {
  min-height: 493px;
  height: auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 19px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 28px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 49px;
    margin-bottom: 59px;
    min-height: 543px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 46px;
    min-height: 842px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 3px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 41px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 29px auto 0;
}

.u-section-3 .u-image-1 {
  width: 302px;
  height: 302px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 57px auto 0 29px;
}

.u-section-3 .u-image-2 {
  width: 302px;
  height: 302px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -302px auto 0;
}

.u-section-3 .u-image-3 {
  width: 302px;
  height: 302px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -302px 29px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 33px;
  height: 33px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 8px 524px 0 auto;
}

.u-section-3 .u-icon-2 {
  width: 33px;
  height: 33px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -33px auto 60px 521px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 270px;
    height: 272px;
    margin-left: 15px;
  }

  .u-section-3 .u-image-2 {
    width: 281px;
    height: 274px;
    margin-top: -274px;
    margin-left: 322px;
  }

  .u-section-3 .u-image-3 {
    width: 281px;
    height: 272px;
    margin-top: -272px;
    margin-right: auto;
    margin-left: 644px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 68px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: auto;
    margin-left: 476px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-3 .u-image-1 {
    width: 215px;
    height: 214px;
    margin-top: 29px;
  }

  .u-section-3 .u-image-2 {
    width: 215px;
    height: 214px;
    margin-top: -214px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 215px;
    height: 214px;
    margin-top: -214px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 92px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 313px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-bottom: 41px;
    margin-left: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 76px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 142px;
    height: 149px;
    margin-top: 34px;
    margin-left: 16px;
  }

  .u-section-3 .u-image-2 {
    width: 148px;
    height: 149px;
    margin-top: -149px;
    margin-left: 192px;
  }

  .u-section-3 .u-image-3 {
    width: 150px;
    height: 149px;
    margin-top: -149px;
    margin-right: auto;
    margin-left: 374px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 58px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: auto;
    margin-left: 284px;
  }

  .u-section-3 .u-icon-2 {
    margin-bottom: 57px;
    margin-left: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 211px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 307px;
    height: 250px;
    margin-top: 296px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 314px;
    height: 250px;
    margin-top: -523px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 317px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 13px;
    margin-right: 119px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-bottom: 33px;
    margin-left: 117px;
  }
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 852px;
}

.u-section-4 .u-group-1 {
  min-height: 726px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 26px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 18px 33px 0;
}

.u-section-4 .u-accordion-1 {
  width: 923px;
  margin: 50px auto 0;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-4 .u-accordion-1 {
    width: 863px;
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-4 .u-group-1 {
    min-height: 650px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-accordion-1 {
    width: 658px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-accordion-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1072px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 207px;
    margin-top: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 32px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 816px;
}

.u-section-5 .u-group-1 {
  min-height: 662px;
  height: auto;
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 32px 499px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 24px 31px 0;
}

.u-section-5 .u-image-1 {
  width: 458px;
  height: 243px;
  margin: 76px auto 0 62px;
}

.u-section-5 .u-image-2 {
  width: 458px;
  height: 243px;
  margin: -243px 62px 0 auto;
}

.u-section-5 .u-btn-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 700;
  margin: 13px auto 0 225px;
}

.u-section-5 .u-btn-2 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 700;
  margin: -39px 225px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-group-1 {
    margin-bottom: 29px;
    min-height: 587px;
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 411px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 314px;
    height: 179px;
    margin-left: 76px;
  }

  .u-section-5 .u-image-2 {
    width: 338px;
    height: 179px;
    margin-top: -179px;
    margin-right: 76px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 43px;
    margin-left: 167px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 55px;
    margin-bottom: 55px;
    min-height: 462px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-image-1 {
    width: 326px;
    height: 170px;
    margin-top: 32px;
    margin-left: 27px;
  }

  .u-section-5 .u-image-2 {
    width: 326px;
    height: 170px;
    margin-top: -170px;
    margin-right: 24px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 15px;
    margin-left: 124px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 428px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-image-1 {
    width: 226px;
    height: 127px;
    margin-top: 24px;
  }

  .u-section-5 .u-image-2 {
    width: 226px;
    height: 127px;
    margin-top: -127px;
    margin-right: 27px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 14px;
    margin-left: 74px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 55px;
    margin-bottom: 55px;
    min-height: 690px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 304px;
    height: 169px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 304px;
    height: 164px;
    margin-top: 77px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -232px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 206px;
    margin-right: auto;
  }
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-btn-2,
.u-section-5 .u-btn-2:before,
.u-section-5 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2:hover:before {
  background-color: transparent !important;
}

.u-section-5 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-5 .u-btn-2.u-btn-2.u-btn-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,0.55) !important;
  transform: scale(1) translateY(px) !important;
  color: rgba(0,87,225,0.72) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 496px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 105px auto 0 50px;
}

.u-section-6 .u-form-1 {
  height: 358px;
  margin: -31px 50px 0 520px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
}

.u-section-6 .u-text-2 {
  margin: -301px 706px 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 102px;
  }

  .u-section-6 .u-form-1 {
    margin-top: -54px;
    margin-right: 0;
    margin-left: 503px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -206px;
    margin-right: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 106px;
    margin-left: 19px;
  }

  .u-section-6 .u-form-1 {
    margin-top: -50px;
    margin-right: 19px;
    margin-left: 302px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -210px;
    margin-right: 465px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-6 .u-form-1 {
    width: 401px;
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 381px;
    margin-top: -411px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -425px;
    margin-left: 13px;
    margin-right: 13px;
  }
}